[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pyjwt = "*"
cryptography = "*"
fans = "*"
requests = "*"
pytest = "*"

[dev-packages]
peewee = "*"
pydantic = "*"
click = "*"
uvicorn = "*"
pytz = "*"
pyyaml = "*"
httpx = "*"

[requires]
python_version = "3.13"
